# Dependencies
node_modules/
.expo/
dist/
.next/
out/
build/

# Environment Variables
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# IDEs
.vscode/
.idea/
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# EAS
eas-build-config.json
credentials.json

.vercel
